$fuentePrincipal:'Montserrat', sans-serif;

//colores
$verde:#4CBBB3;
$rosa:#F53756;
$amarillo:#FEF460;
$morado:#752F97;
$negro:black;
$blanco:white;          

//fuentes
$delgada:300;
$regular:400;
$bold:700;
$black:900;

/*Separaciones 
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nobis culpa nisi minima consequatur alias repellendus sunt, mollitia fuga facilis dolore nulla quidem beatae necessitatibus. Ipsum recusandae facere reiciendis eius.*/

$sepacion:5rem;


